.blurhash-container {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
}

.blurhash-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  z-index: 1;
}

.blurhash-canvas.hidden {
  opacity: 0;
  pointer-events: none;
}

.blurhash-image {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  vertical-align: bottom;
  z-index: 2;
}

.blurhash-image.loaded {
  opacity: 1;
}

