<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div *ngIf="uiDataLoaded && !wishesDataLoading; else noApp">
    <div class="content">
        <div *ngIf="!actionButtonClicked && !loadingError" class="wish-intro">
            <div class="wish-title">
                {{uiData?.wishHeader}}
            </div>
            <div class="wish-explanation">
                <p *ngFor="let text of uiData?.wishMainText">{{ text }}</p>
            </div>
            <div class="action-button">
                <button class="action-button-btn" (click)="generateWish()">
                    {{uiData?.mainActionButtonText}}
                </button>
            </div>

            <ng-template #loadingWish>
                <div class="spinner"></div>
            </ng-template>

            <div class="wish-intro-picture">
                <img src="assets/images/wishes/11.jpg" alt="New Year Wishes Poster" />
            </div>
        </div>

        <div *ngIf="loadingError" class="wish-intro">
            <div class="wish-explanation">
                <p>{{ uiData?.dataLoadingIssue }}</p>
            </div>
        </div>

        <div *ngIf="actionButtonClicked" class="wish-result">
            <div class="wish-title">
                {{uiData?.generatedWishTitle}}
            </div>
            <div class="wish-text">
                <ng-container *ngFor="let text of generatedWish.text">
                    <p *ngIf="text?.trim(); else addBr">{{ text }}</p>
                    <ng-template #addBr>
                        <p class="break"> </p>
                    </ng-template>
                </ng-container>
            </div>
            <div class="wish-picture">
                <img src="assets/images/wishes/{{generatedWish.image}}.jpg" alt="Wish Picture" />
            </div>
        </div>
    </div>
</div>
<ng-template #noApp>
    <div class="content">
        <div class="yin-yang-spinner">☯</div>
    </div>
</ng-template>