<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">

<div *ngIf="!wishService.loading(); else spinner">
    <div class="content" [@fadeIn]>

        <ng-container *ngIf="!wishService.hasWish() && !wishService.error()">
            <app-intro [uiData]="wishService.uiData()" (modeSelected)="onModeSelected($event)">
            </app-intro>
        </ng-container>

        <ng-container *ngIf="wishService.hasWish()">
            <app-wish-result [wish]="wishService.generatedWish()!" (click)="reset()">
            </app-wish-result>
        </ng-container>

        <div *ngIf="wishService.error()" class="wish-intro">
            <div class="wish-explanation">
                <p>{{ wishService.uiData()?.dataLoadingIssue || 'Error loading data.' }}</p>
                <button class="reset-btn" (click)="reload()">Retry</button>
            </div>
        </div>

    </div>
</div>

<ng-template #spinner>
    <div class="content">
        <div class="yin-yang-spinner">☯</div>
    </div>
</ng-template>