@font-face {
    font-family: 'Hanzi';
    src: url('assets/fonts/hanzi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belepotan';
    src: url('assets/fonts/Belepotan Rus.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belepotan';
    src: url('assets/fonts/Belepotan Rus Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Barkentina';
    src: url('assets/fonts/Barkentina 1.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
}

app-root {
    display: block;
    width: 100%;
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

app-root::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: 0;
}

app-root>* {
    position: relative;
    z-index: 1;
}